body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f1f5f9;
}

.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-box{
  background:white;
  padding:30px;
  border-radius:15px;
  width:320px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.login-box h1{
  margin-bottom:20px;
}

.login-box input{
  width:100%;
  margin-bottom:10px;
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  box-sizing:border-box;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:black;
  color:white;
  cursor:pointer;
}

.topbar{
  padding:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:10px;
}

.actions{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}

.actions input{
  padding:10px;
  border-radius:10px;
  border:1px solid #ccc;
}

.actions button{
  padding:10px 15px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  cursor:pointer;
}

.table-container{
  overflow:auto;
  padding:20px;
}

table{
  border-collapse:collapse;
  background:white;
  width:max-content;
}

th,
td{
  border:1px solid #ccc;
  padding:8px;
  text-align:center;
}

th{
  background:#dbeafe;
}

th:first-child,
td:first-child{
  min-width:260px;
  text-align:left;
}

.hk{
  background:#fef08a;
  font-weight:bold;
}

input[type="checkbox"]{
  width:18px;
  height:18px;
  cursor:pointer;
}
